{% load static %}
{% comment %}{% load format_rates %}{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>Exchange Rates Evolution</title>{% endblock %}
    <base href="{% url 'exchange_rate_evolution' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css"/>

    <link rel="stylesheet" href="{% static 'exchange_rates/css/styles.css' %}">
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
   	<script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fusion.js" %}"></script>
    <style>
        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 2px;
        }
    </style>
</head>

<body>

<div class="container">
      <div id="chart-1">{{ chart|safe }}</div>
</div>
</body>
</html>
